.avatar-shadow {
    -webkit-filter: drop-shadow(4px 4px 0px #4e4e4e);
    filter: drop-shadow(4px 4px 0px #4e4e4e);
    transition: filter 0.1s;
}

.avatar-bg {
    box-sizing: content-box;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 64px;
    width: 64px;
    padding: 8px;
    background-color: black;
    -webkit-clip-path: polygon(17.5% 0%, 100% 0%, 82.5% 100%, 0% 100%);
    clip-path: polygon(17.5% 0%, 100% 0%, 82.5% 100%, 0% 100%);
    transition: background-color 0.1s;
}

.avatar-container {
    height: 64px;
    width: 64px;
}

.avatar-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(17.5% 0%, 100% 0%, 82.5% 100%, 0% 100%);
    clip-path: polygon(17.5% 0%, 100% 0%, 82.5% 100%, 0% 100%);
}

.tag img.icon.GG {
    width: 16px;
    margin-right: 8px;
}

.tag img.icon.Challonge {
    width: 24px;
    margin-right: 8px;
}

.account-card {
    display: flex;
    gap: 8px;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    width: max-content;
}

.account-card > .tag {
    margin-top: 12px;
    background-color: black;
    padding: 5px 15px;
    margin-left: -14px;
    height: fit-content;
    color: white;
    font-size: 20px;
    z-index: 1;
    transform: skewX(-10deg);
    transition: background-color 0.1s, color 0.1s;
}

.account-card[href]:hover .tag {
    background-color: white;
    color: black;
    transition: background-color 0.1s, color 0.1s;
}

.account-card[href]:hover .avatar-bg {
    background-color: white;
    transition: background-color 0.1s;
}

.account-card[href]:hover .avatar-shadow {
    -webkit-filter: drop-shadow(4px 4px 0px #1efff7);
    filter: drop-shadow(4px 4px 0px #1efff7);
    transition: filter 0.1s;
}


.tag span {
    display: flex;
    flex-direction: row;
}

.tag p {
    margin-top: 0;
    margin-bottom: 0;
    transform: skewX(10deg);
    font-family: 'BN-Elements', sans-serif;
}

.tag img {
    transform: skewX(10deg);
}

a:not([href]) {
    cursor: not-allowed;
}

a:not([href]) .tag {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spin {
    animation: spin 1s linear infinite;
}