header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #131717;
    border-bottom: 2px solid #c5263b;
    z-index: 2;
}

.game-logo {
    height: 80px;
}

.game-logo:hover {
    cursor: pointer;
}

.game-logo.llb:hover {
    -webkit-filter: drop-shadow(0px 0px 5px #9ceaff);
    filter: drop-shadow(0px 0px 5px #9ceaff);
}

.game-logo.ll:hover {
    -webkit-filter: drop-shadow(0px 0px 5px red) drop-shadow(0px 0px 5px red);
    filter: drop-shadow(0px 0px 5px red) drop-shadow(0px 0px 5px red);
}

.game-logo.pro:hover {
    -webkit-filter: drop-shadow(0px 0px 5px #de80cd);
    filter: drop-shadow(0px 0px 5px #de80cd);
}