.glicko-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accounts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}