.player-page {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100svh - 100px);
}

.player-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px;
}

.player-content-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48vw;
}

@media only screen and (max-width: 1280px) {
    .player-content {
        flex-direction: column;
    }

    .player-content-column {
        width: 96vw;
    }
}