.tourney-tile {
    border-radius: 4px;
    border-width: 1px;
}

.tourney-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow: auto;
    max-height: calc(100svh - 260px);
    width: calc(100% - 100px);
}

td img {
    display: block;
    margin: 0 auto;
}

td img.GG {
    width: 16px;
}

td img.Challonge {
    width: 24px;
}

td {
    text-align: center;
}

@media only screen and (max-width: 1280px) {
    .tourney-list {
        width: 100%;
        max-height: calc(100svh - 230px);
    }
}